.redemption {
    width: 500px;
}
.collag {
    width: 500px;
}
body {
    text-align: center;
    background-image: url("https://media.giphy.com/media/AaeanOqPuenS0/giphy.gif");
}
.GOTY {
    font-family: 'VTFMisterPixelRegular';
    color: darkred;
}
.wow {
    font-family: 'Fredoka One', cursive;
    color: gold;
    border: outset 20px grey;
    background: grey;
}
.school {
    font-family: 'Caveat', cursive;
    color: navy;
}
.album {
    font-family: 'Poiret One', cursive;
    color: purple;
}
.dance {
    font-family: 'Alfa Slab One', cursive;
    color: Blue;
}
.awards {
    background-image: url("https://i.ibb.co/Gd99zwR/cool-background.png");
    margin: 60px;
    height: 100%;
}
